body{
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main-container{
   display: flex;
   background-color: grey;
   width: 20em;
   height: 40em;
   text-align: center;
   flex-direction: column;
}
.salutation{
   font-size: 1.5em;
   margin: 0.5em auto;
}

.color-picker{
   display: flex;
   justify-content: space-evenly;
   margin: auto auto 0.5em auto
   
}

.color-try {
   display: flex;
   justify-content: space-evenly;
   margin: auto auto 0.5em auto
   
}



.color-button{
   margin: 0 1em;
   height: 3em;
   width: 3em;
   border-radius: 20%;
   border: solid 2px whitesmoke;
   
}

.return-to-main{
   margin: 1em auto ;
   height: 2em;
   width: 10em;
   background-color: green;
   border-radius: 0.5em;
   border: solid 2px whitesmoke;
}

.return-to-main:hover{
   cursor: pointer;
   opacity: 0.5;
}
.return-to-main:active{
   opacity: 1;
}

.color-button:hover{
   cursor: pointer;
   opacity: 0.7;
}
.color-button:active{
   opacity: 1;
}


#red {
   background-color: red;
}

#goldenrod{
   background-color: goldenrod;
}
#purple{
   background-color: purple;
}

