body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d3d3d3;
   background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
   color: aliceblue;
}

.main-container {
   position: relative;
   border-radius: 1.25em;
   display: flex;
   width: 30em;
   height: 44em;
   text-align: center;
   flex-direction: column;
   box-shadow: inset 0 0 6.25em rgba(255, 255, 255, .1);
}

.return-to-main {
   position: absolute;
   top: 90%;
   left: 63%;
   display: flex;
   justify-content: center;
   margin: auto;
   height: 3em;
   width: 10em;
   border-radius: 0.5em;
   border: solid 0.125em aliceblue;
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   
   background-color: rgba(127, 255, 212, 0);
}
.return-to-main:hover {
   cursor: pointer;
   background-color: rgb(0, 255, 170);
}
.return-to-main:active {
   opacity: 1;
}

.instrucciones{
   margin: 20px;
}