body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d3d3d3;
   background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}

.input{
   text-align: center;
   height: 2em;
   opacity: 0.8;
   border-radius: 1em;
   padding: 4px;
   color: #052e37;
   font-weight: bolder;
   font-size: 20px;
   
}

.main-container{
   width: 30em;
   height: 30em;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   border-radius: 20px;
   box-shadow: inset 0 0 100px rgba(255, 255, 255, .1);
   
}

.select-dificult-text{
   font-size: 1.5em;
   color: aliceblue;
   text-align: center;
}

.select-dificult-buttons{
   display: flex;
   margin-bottom: 10px;

}
.welcome-text{
   text-align: center;
   font-size: 2em;
   color: aliceblue;
}

.button-difficult-emoji{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 4em;
   height: 2em;
   background-color:rgba(127, 255, 212, 0);
   
}


.button-difficult{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5em;
   height: 2em;
   background-color:rgba(127, 255, 212, 0);
   border: solid 2px white;
   border-radius: 6px;
   margin: 8px;
}

.button-difficult-emoji{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   margin-top: -20px;
}




.button-difficult:hover{
   cursor: pointer;
   background-color: rgb(0, 255, 170);
}

.button-difficult:active{
   cursor: pointer;
   background-color: aquamarine
}