body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d3d3d3;
   background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
   color: aliceblue;
}
.cursor-rem:hover {
   cursor: default
}
.main-container {
   position: relative;
   border-radius: 20px;
   display: flex;
   width: 30em;
   height: 40em;
   text-align: center;
   flex-direction: column;
   box-shadow: inset 0 0 100px rgba(255, 255, 255, .1);
}
@keyframes drop {
   0% {
      transform-origin: center;
      opacity: 1;
   }
   20% {
      transform:
         translate3d(0, 2000px, 0) rotate3d(0, 0, 1, -10deg);
      opacity: 1;
   }
   40%,
   45% {
      transform:
         translate3d(0, -2000px, 0) rotate3d(0, 0, 1, 10deg);
      opacity: 1;
   }
   to {
      opacity: 1;
      transform:
         translate3d(0, 1000px, 0) rotate3d(0, 0, 0, 0deg);
   }
}
@keyframes shake {
   0% {
      transform: translate(1px, 1px) rotate(0deg);
   }
   10% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }
   20% {
      transform: translate(-3px, 0px) rotate(1deg);
   }
   30% {
      transform: translate(3px, 2px) rotate(0deg);
   }
   40% {
      transform: translate(1px, -1px) rotate(1deg);
   }
   50% {
      transform: translate(-1px, 2px) rotate(-1deg);
   }
   60% {
      transform: translate(-3px, 1px) rotate(0deg);
   }
   70% {
      transform: translate(3px, 1px) rotate(-1deg);
   }
   80% {
      transform: translate(-1px, -1px) rotate(1deg);
   }
   90% {
      transform: translate(1px, 2px) rotate(0deg);
   }
   100% {
      transform: translate(1px, -2px) rotate(-1deg);
   }
}
.salutation {
   font-size: 1.5em;
   margin: 0.5em auto;
}
.color-picker {
   display: flex;
   justify-content: space-evenly;
   margin: auto auto 0.5em auto;
}
.buttons {
   display: flex;
   padding: 1em;
}

.hide-win-condition {
   border-radius: 10px;
   position: absolute;
   background-color: #8b9099;
   
   height: 4em;
   width: 98%;
   left: 1%;
   top: 4.7em;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
   .container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
   }
}
@keyframes jump {
   0% {
      transform: scale(1, 1) translateY(0);
   }
   10% {
      transform: scale(1.1, .9) translateY(0);
   }
   30% {
      transform: scale(.9, 1.1) translateY(-100px);
   }
   50% {
      transform: scale(1.05, .95) translateY(0);
   }
   57% {
      transform: scale(1, 1) translateY(-7px);
   }
   64% {
      transform: scale(1, 1) translateY(0);
   }
   100% {
      transform: scale(1, 1) translateY(0);
   }
}
.color-try {
   display: flex;
   justify-content: space-evenly;
   margin: auto auto 0.5em auto
}
#makeTry {
   cursor: pointer;
   margin-left: 10px;
   font-size: 40px;
}
#makeTry:active {
   opacity: 0.5;
}
#retTry {
   cursor: pointer;
   margin-left: 23px;
   font-size: 40px;
}
#retTry:active {
   opacity: 0.5;

}
.color-button {
   margin: 0 1em;
   height: 3em;
   width: 3em;
   border-radius: 20%;
   -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
   -moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
   box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
}

.return-to-main {
   display: flex;
   justify-content: center;
   margin: auto;
   height: 3em;
   width: 10em;
   border-radius: 0.5em;
   border: solid 2px aliceblue;
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   
   background-color: rgba(127, 255, 212, 0);
}
.return-to-main:hover {
   cursor: pointer;
   background-color: rgb(0, 255, 170);
}
.return-to-main:active {
   opacity: 1;
}

.play-again {
   display: flex;
   justify-content: center;
   margin: auto;
   height: 3em;
   width: 10em;
   border-radius: 0.5em;
   border: solid 2px aliceblue;
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   
   background-color: rgba(127, 255, 212, 0);
}
.play-again:hover {
   cursor: pointer;
   background-color: rgb(0, 255, 170);
}
.play-again:active {
   opacity: 1;
}

.color-button:hover {
   cursor: pointer;
   opacity: 0.7;
}
.cursor-rem:hover {
   cursor: default
}
.color-button:active {
   opacity: 1;
}
.guesser-hidden {
   margin-left: 3em;
}
.guesser {
   padding: 10px;
   margin-left: 1em;
   border-radius: 2em;
   justify-content: center;
   text-align: center;
   margin-top: 10px;
   width: auto;
   height: auto;
   background-color: rgba(250, 235, 215, 0.505);
   -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
   -moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
   box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.7);
}

#red {
   background-color: rgba(255, 0, 0);
}
#goldenrod {
   background-color: rgba(218, 165, 32);
}
#purple {
   background-color: rgba(128, 0, 128);
}